<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/erp_project?createDatabaseIfNotExist=true&amp;useSSL=false</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.username">pratham</property>
        <property name="connection.password">prathamrathore</property>

<!--         DB schema will be updated if needed-->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
<!--        <mapping class="bean.com.mt2022082.erp.Course" />-->
<!--        <mapping class="bean.com.mt2022082.erp.CourseSchedule" />-->
<!--        <mapping class="bean.com.mt2022082.erp.Employee" />-->
<!--        <mapping class="bean.com.mt2022082.erp.Student" />-->
<!--        <mapping class="bean.com.mt2022082.erp.StudentCourse" />-->
<!--        <mapping class="bean.com.mt2022082.erp.Specialization" />-->
    </session-factory>
</hibernate-configuration>